:root {
  --background-color: #fbf8ef;
  --accent-color: #16c47f;
}

.container{
  height: 100%; 
  background-color: var(--background-color);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.card{
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fbf8ef;
  border: 000;
  border-radius: 15px;
  gap: 10px;
}

.image {
  height: 100%;
  aspect-ratio: 3/4;
  border-radius: 10px;
}